@model BranchManagement.Application.Contract.Branch.CreateBranch
@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ایجاد شعبۀ جدید</h4>
</div>

<form asp-page="./Index" asp-page-handler="Create"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">نام شعبه:</label>
                    <input type="text" class="form-control" asp-for="Title" onchange="makeSlug('Title', 'Slug')">
                    <span asp-validation-for="Title" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Code" class="control-label">کد مهرگستر:</label>
                    <input type="text" class="form-control" asp-for="Code" />
                    <span asp-validation-for="Code" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="OldCode" class="control-label">کد سنتی:</label>
                    <input type="text" class="form-control" asp-for="OldCode" />
                    <span asp-validation-for="OldCode" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="AuthorizationCode" class="control-label">شناسۀ مجوز:</label>
                    <input type="text" class="form-control" asp-for="AuthorizationCode" />
                    <span asp-validation-for="AuthorizationCode" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="AuthorizationDate" class="control-label">تاریخ مجوز:</label>
                    <input class="form-control persianDateInput" asp-for="AuthorizationDate" />
                    <span asp-validation-for="AuthorizationDate" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="TelPreCode" class="control-label">پیش‌شماره:</label>
                    <input type="text" class="form-control" asp-for="TelPreCode" />
                    <span asp-validation-for="TelPreCode" class="error"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Telephone" class="control-label">تلفن:</label>
                    <input type="text" class="form-control" asp-for="Telephone" />
                    <span asp-validation-for="Telephone" class="error"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Fax" class="control-label">دورنما:</label>
                    <input type="text" class="form-control" asp-for="Fax" />
                    <span asp-validation-for="Fax" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label">کدپستی:</label>
                    <input type="text" class="form-control" asp-for="PostalCode" />
                    <span asp-validation-for="PostalCode" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="OwnershipStatus" class="control-label">وضعیت مالکیت</label>
                    <select class="form-control" asp-for="OwnershipStatus" asp-items='new SelectList(Model.AllOwnershipStatusList, "Status" , "Title")'>
                        <option value="1"></option>
                    </select>
                    <span asp-validation-for="OwnershipStatus" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Address" class="control-label">آدرس:</label>
                    <input type="text" class="form-control" asp-for="Address">
                    <span asp-validation-for="Address" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Keywords" class="control-label">کلمات کلیدی:</label>
                    <input type="text" class="form-control" asp-for="Keywords">
                    <span asp-validation-for="Keywords" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="MetaDescription" class="control-label">توضیحات:</label>
                    <textarea class="form-control autogrow" asp-for="MetaDescription"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="MetaDescription" class="error"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>
</form>