<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-right">
                <img src="~/AdminTheme/assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> پروفایل<div class=""></div></a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings"></i> تنظیمات</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-lock"></i> قفل صفحه</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> خروج</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a asp-page="/Index" class="waves-effect active"><i class="md md-home"></i><span> داشبورد </span></a>
                </li>

                <li>
                    <a asp-page="/Branches/Index" class="waves-effect active"><i class="md md-home"></i><span> مدیریت و شعب </span></a>
                </li>

                <li>
                    <a asp-page="/Account" asp-page-handler="Logout" class="waves-effect active"><i class="fa fa-sign-out"></i><span> خروج </span></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->